* {
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
header {
    background-color: #434343;
}
h1,h2,h3{
    color: #ffffff
}
p {
    color: #dbdbdb;
}
.header-title > h1{
    font-size: clamp(60px,4vw,60px);
    color: #4d6128;
}
.header-title > p{
    font-size: clamp(30px,2vw,30px);
    color: #213800;
}
.header-title {
    position: absolute;
    width: 100%;
    font-weight: bolder;
    text-align: center;
    padding: 6vh;
}
.header-img > img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center-group {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: #434343;
    padding-left: 4vw;
    padding-right: 4vw;
    max-width: 100%;
}
.center-item {
    display: block;
    width: 33.33%;
    padding: 3.5vw;
}
.item-text {
    text-align: center;
    margin: 10px;
}

.item-img > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border: 10px solid #707070;
}
.bottom-group {
    display: flex;
    background-color: #707070;
    padding-left: 5vw;
    padding-right: 5vw;
}
.bottom-text {
    width: 66.66%;
    padding-left: 5vw;
    margin-top: auto;
    margin-bottom: auto;
}
.bottom-text > h1 {
    font-size: clamp(36px,5vh,36px);
    
}
.bottom-img {
    width: 33.33%;
    margin: 3vw;
}
.bottom-img > img {
    border: 1rem solid #434343;
    border-radius: 50%;
    max-width:100%;
}
.footer {
    background-color: #434343;
    width: 100%;
    padding: 3vh;
    text-align: center;
    font-weight: bolder;
}

@media (max-width: 650px) {
    header {
        background-color: #434343;
        width: 100%;
    }
    .header-title {
        position: relative;
        padding: 2vh;
        padding-left: 6vh;
        padding-right: 6vh;
        
    }
    .header-title > h1 {
        font-size: 5vh;
        color: #ffffff;
    }
    .header-title > p {
        font-size: 2.5vh;
        color: #dbdbdbdb;
    }
    .center-group {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
        margin:auto;
    }
    .center-item {
        width: 100%;
    }
    .item-img > img{
        width: 100%;
    }
    .item-text {
        text-align: center;
        margin-top: 10px;
    }

    .bottom-group {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        margin: 0;
        padding: 0;
    }
    .bottom-text,.bottom-img {
        width:100%;
        overflow: hidden;
        text-align: center;
        margin: 0;
        padding: 1.5vh;
    }
    .bottom-img > img {
        width: 100%;
    }
}